<!DOCTYPE html PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html>
  <head>
    <title>Chicago Street Data</title>
    <link type="text/css" rel="stylesheet" href="elegant-aero.css" />
      <style>
          input::-webkit-calendar-picker-indicator {
              display: none;/* remove default arrow */
          }
          .myarrow:after {
              content: url(https://i.stack.imgur.com/i9WFO.png);
              margin-left: -20px;
              padding: .1em;
              pointer-events:none;
          }
      </style>
      <script>
          <!-- https://stackoverflow.com/questions/9975810/make-iframe-automatically-adjust-height-according-to-the-contents-without-using -->
          function resizeIframe(obj) {
              obj.style.height = obj.contentWindow.document.documentElement.scrollHeight + 'px';
          }
      </script>
  </head>
  <body style='background-image:URL("traffic5.jpg");background-position:center bottom;background-size: 100%;'>
    <p>
    <form action="/street-results.html" style="width:500px;height:50px;margin:0 auto;padding-top=200px;background:#FFFFFF" method="get" target="results_iframe" class="elegant-aero">
      <div style="white-space: nowrap"><label>
	<span class="myarrow">
        <span>Street:</span>
	<input list="streets" name="street"/>
          <datalist id="streets">
              {{#streets}}
                  <option value="{{key}}">
              {{/streets}}
          </datalist></span>
      </label>

	 <label><input style="padding:10px" type="submit" value="Submit"></label>
      </div>
    </form>
    <p/>

    <iframe frameBorder="0" onload="resizeIframe(this)" name="results_iframe" style="display:block;width:70%;margin-left:auto;margin-right:auto"/>
  </body>
</html>
